body{
    font-family: sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    box-shadow: 1px 2px 10px rgb(207, 207, 207)
}

.navbar img{
    height: 50px;
}

.menu li{
    display: inline;
    margin: 10px;
}

.menu a{
    text-decoration: none;
    color: rgb(30, 30, 131);
}

.service-section{
    padding: 50px 150px;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.service{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(207, 207, 207);
    /* transition for background-color and color  */
    /* transition: background-color 1.5s, color 1.5s; */
    transition: 0.5s;
    cursor: pointer;
}

.service:hover{
    transform: scale(1.04);
    background-color: red;
    color: white;
}