html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.topnav {
    background-color: #c92429;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    color: white;
}

.midnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    text-align: center;
    color: #c92429;
}

.midnav img{
    height: 100px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.menu{
    background-color: #264ed8;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    list-style-type: none;
    margin: 0;
}

hr{
    border: 1px solid #e9e7e7;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.dropdown-menu{
    position: relative;
}

.menu a:hover{
    background-color: #c92429;
}

.dropdown{
    position: absolute;
    left: 0;
    top: 30px;
    width: 150px;
    background-color: #e3e3e4;
    display: none;
}

.dropdown-menu:hover .dropdown{
    display: block;
}

.dropdown a{
    color: black;
    display: block;
}

.title-intro{
    background-image: url('https://honawalpur.gandaki.gov.np/images/bg.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.title-intro-inner{
    position: absolute;
    inset: 0;
    background-color: rgba(18, 22, 61, 0.581);
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
}

.title-intro-inner h3{
    font-size: 30px;
    font-weight: normal;
}

.program-section{
    padding: 50px;
}

.section-title{
    text-align: center;
    margin: 50px;
}

.section-title h2{
    border-bottom: 2px solid #c92429;
    display: inline;
    margin: auto;
}

.program-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.program{
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(215, 213, 213);
    transition: 0.5s;
    position: relative;   
}

.program:hover{
    transform: scale(1.02);
}

.badge{
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.program img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.program-content{
    padding: 10px;
}

.program-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #264ed8;
}

.program-btn a{
    background-color: #264ed8;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.go-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #264ed8;
    border-radius: 10px;
    padding: 5px;
    z-index: 99;
}

.go-to-top a{
    color: white;
    padding: 5px;
    text-decoration: none;
}


.notice-container{
    padding: 50px 100px;
}

.notice{
    border-radius: 10px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.notice a{
    background-color: #c9ccd8;
    color: black;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}

.notice:hover{
    background-color: #ced0da;
}

.flash-notice{
    display: flex;
    align-items: center;
    padding: 30px;
}

.flash-notice p{
    background-color: red;
    color: white;
    padding: 10px;
}

.flash-notice marquee{
    background-color: rgb(239, 237, 237);
    padding: 14px;
    flex: 1;
}