body{
    font-family: sans-serif;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    background-color: aliceblue;
}

.contact-input-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-input{
    padding: 10px;
    margin: 10px;
}

.contact-input label{
    font-weight: lighter;
    color: rgb(71, 71, 225);
    font-size: 14px;
}

.contact-input input, .contact-input textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(71, 71, 225);
    margin-top: 5px;
    border-radius: 5px;
}

.contact-input-btn{
    text-align: center;
}

.contact-input-btn button{
    padding: 10px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,38,129,1) 32%, rgba(255,134,0,1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}