body{
    margin: 0;
    font-family: sans-serif;
}

.topnav {
    background-color: #c92429;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    color: white;
}

.midnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    text-align: center;
    color: #c92429;
}

.midnav img{
    height: 100px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.menu{
    background-color: #264ed8;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.menu a:hover{
    background-color: #c92429;
}